body {
    font-family: Arial, sans-serif;
}

.sidebar {
    height: 100vh;
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.main-content {
    padding: 20px;
}

.btn-group {
    flex-grow: 0;
    /* Prevents flex items from growing */
    flex-shrink: 0;
    /* Prevents flex items from shrinking */
}

.btn-group button {
    width: fit-content;
    /* Ensures button width is based on its text content */
    padding: 5px 15px;
    /* Adjust padding to ensure buttons are not too large or small */
}

/* #connection_status {
    padding: 0.5em;
    color: white;
    background-color: green;
    flex-grow: 0;
}

#connection_status.offline {
    background-color: red;
    flex-grow: 0;
} */

#logoff-button {
    align-items: center;
}

.btn-group * {
    flex-shrink: 0;
    /* Prevents shrinking */
    margin: 0;
    /* Reset margin */
}

.btn-group input[type="checkbox"] {
    margin-right: 4px;
    /* Small margin right to the checkbox */
}

.btn-group label {
    display: flex;
    align-items: center;
    /* Aligns the label text with the checkbox vertically */
}

.btn-group button {
    padding: 5px 10px;
    /* Adequate padding */
}

#connection_status {
    padding: 5px 10px;
    color: black;
    background-color: white;
    /* 'Online' status */
    text-align: center;
    border-radius: 5px;
    /* Rounded corners for aesthetics */
    border: none;
    /* No border for a flat appearance */
    cursor: default;
    /* Default cursor to indicate non-interactivity */
    box-shadow: none;
    /* No shadow to flatten the appearance */
}

#connection_status.offline {
    color: red;
    background-color: white;
    /* 'Online' status */
}




.progress-container {
    margin-bottom: 10px;
}

.progress-text {
    margin-bottom: 5px;
    color: #000;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu span:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu .dropdown-menu {
    left: 100%;
    top: 0;
    margin-left: 1px;
}

.dropdown-item.dropdown-toggle::after {
    content: '\25B6';
    float: right;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 2em;
    /* indent the dd element */
}

.grayed-out {
    opacity: 0.33; /* Gray out by reducing opacity */
}

.tooltip {
    max-width: none;
    width: fit-content; 
}

.bs-tooltip-auto[data-popper-placement^="right"],
.bs-tooltip-auto[data-popper-placement^="left"] {
    width: fit-content;
}

.table_relpath {
    font-style: italic;
    text-align: center;
}


.table-fit {
    width: auto;  /* Set the table width to auto */
    /* margin: 0; */   /* Remove any margin */
}

.table-fit th, .table-fit td {
    white-space: nowrap; /* Prevent text from wrapping */
}

.card-fit {
    display: inline-block; /* Make the card fit its content */
    width: auto;           /* Set width to auto to fit the content */
    margin: 0;             /* Remove any extra margin */
}

.key-table-header {
    font-weight: bold;
}

.container-fluid {
    display: flex; /* Use Flexbox for the container */
    flex-wrap: nowrap; /* Prevent wrapping to keep sidebar and content side-by-side */
}

.sidebar {
    flex: 0 0 200px; /* Fixed width for the sidebar */
    max-width: 200px; /* Maximum width for the sidebar */
    min-width: 150px; /* Minimum width for the sidebar */
    background-color: #f0f0f0; /* Optional: background color for visibility */
    height: 100vh; /* Full height */
    overflow-y: auto; /* Allow vertical scrolling for sidebar */
}

.main-content {
    flex: 1; /* Take up the remaining space */
    padding: 15px; /* Add some padding */
    overflow-x: auto; /* Enable horizontal scrolling if needed */
}

.tab-content {
    white-space: nowrap; /* Prevent line breaks to ensure horizontal scrolling */
}


.flex-row {
    flex: 1;
    display: flex; /* Flex container */
    flex-wrap: nowrap; /* Prevent flex children from wrapping */
    overflow-x: auto; /* Allow horizontal scrolling if needed */
    overflow-y: visible; /* No vertical scrolling */
    width: 100%; /* Full width */

}

dropdown {
    position: relative;
}
