venv

server/__pycache__
*~

nginx/conf.d/ldap.conf
server/scratch.py
uploads/
nginx/conf.d/01_ldap_active.conf
nginx/logs/error.log
nginx/logs/access.log
nginx/conf.d/ldap (1).conf
nginx/conf.d/ldap_ssl.conf
config/backup_keys.yaml
config/config.ssd.yaml
config/config.ssd2.yaml
config/keys.yaml
nginx/certs/
nginx/ldap_ssl_conf.d/ldap_ssl.conf
nginx/no_ldap_conf.d/ldap_inactive.conf
nginx/with_ssl_conf.d/ldap_inactive.conf
docker-compose-local.yaml
docker-compose-test.yaml
Dockerfile.nginx
.vscode/settings.json
config/upload_keys.yaml
config/config.ssd3.yaml
config/config.ssd.yaml
config/config.local.yaml
install
server/scratch_zero_conf.py
app.py
server/old_app.py
