<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirLAB Log Management</title>

    <script src="static/js/jquery-3.6.0.min.js"></script>
    <script src="static/js/socket.io.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/dashboard.js"></script>
    <script src="static/js/updateProgress.js"></script>
    <script src="static/js/updateDeviceData.js"></script>
    <script src="static/js/updateServerData.js"></script>
    <script src="static/js/updateNodeData.js"></script>
    <script src="static/js/utils.js"></script>
    <script src="static/js/searchTab.js"></script>

    <link href="static/css/bootstrap-icons.css" rel="stylesheet">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/icon_foxglove.css" rel="stylesheet">
    <link href="static/css/dashboard.css" rel="stylesheet" type="text/css" >

    <style>
    </style>

</head>

<body>
    <div class="container-fluid">
        <div class="row flex-row" >
            <div class="sidebar">
                <ul class="nav nav-pills flex-column">
                    <li class="navbar-brand"><b>AirLAB Storage</b><br>
                        <div id="connection_status">Connection: Offline </div>
                        <button type="button" class="btn btn-danger logoff-button" onclick="logout()">Log out</button>
                        <button type="button" class="btn btn-secondary" id="new_data_button" onclick="request_new_data()">Refresh</button>
                    </li>
                    <hr>
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#server-tab"><i class="bi bi-server"></i>
                            &nbsp; Server
                            <span id="server_menu_status"></span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#devices-tab"><i class="bi bi-robot"></i> &nbsp;
                            Devices
                            <span id="device_menu_status"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#nodes-tab"><i class="bi bi-cloud"></i> &nbsp;
                            Nodes
                            <span id="nodes_menu_status"></span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#search-tab"><i class="bi bi-search"></i> &nbsp;
                            Search</a>
                    </li>

                    <!-- <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#report-host-tab">Report Host</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#report-node-tab">Report Node</a>
                    </li> -->
                    <hr>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#config-tab"><i class="bi bi-gear"></i>
                            Configure</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#debug-tab"><i class="bi bi-tools"></i> DEBUG</a>
                    </li>
                </ul>
            </div>
            <div class="main-content">

                <div class="tab-content">
                    <div id="devices-tab" class="tab-pane fade ">
                        <h1>Devices</h1>

                        <div id="device-status-container"></div>

                        <div class="accordion accordion-flush" id="device-status-accordion">
                            <div class="accordion-item">

                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#device-status-tqdm-div" aria-expanded="false"
                                        aria-controls="device-status-tqdm-div">
                                        <div id="device-status-tqdm-header">Progress</div>

                                    </button>
                                </h2>
                                <div id="device-status-tqdm-div" class="accordion-collapse collapse"
                                    data-bs-parent="#device-status-accordion">
                                    <div class="accordion-body">
                                        <div class="card" id="device-status-tqdm"></div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div id="device-data-container">
                            <!-- Device data will be dynamically inserted here -->
                        </div>
                    </div>

                    <div id="nodes-tab" class="tab-pane fade">
                        <h1>Nodes</h1>

                        <div id="node-status-container"></div>

                        <div id="node-fs-info-container"></div>

                        <div id="node-data-container">
                            <!-- Node data will be dynamically inserted here -->
                        </div>

                    </div>

                    <div id="search-tab" class="tab-pane fade">
                        <h1>Search</h1>

                        <div class="accordion accordion-flush" id="search-filter-accordion">
                            <div class="accordion-item">

                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#search-filter-div" aria-expanded="false"
                                        aria-controls="search-filter-div">
                                        <div id="search-filter-header">Filter</div>
                                    </button>
                                </h2>
                                <div id="search-filter-div" class="accordion-collapse collapse"
                                    data-bs-parent="#search-filter-accordion">
                                    <div class="accordion-body">
                                        <div class="card" id="search-filter">

                                        </div>
                                        <button type="button" class="btn btn-primary" onclick="clearAllFilters()">Clear Filters</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-primary" onclick="startNewSearch()">Search</button> 
                        <select name="search-items-per-page" id="search-items-per-page" onchange="updateSearchItemsPerPage()">
                            <option value="10">10</option>
                            <option selected value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                        </select> Results per page

                        <div id="search-container">

                            <!-- Table for displaying items -->
                            <table class="table table-striped" id="search-table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th id="search-sort-project" data-name="project" data-direction="forward" onclick="setSearchSort('project')">Project <i id="search-sort-project-dir"></i></th>
                                        <th id="search-sort-site" data-name="site" data-direction="forward" onclick="setSearchSort('site')">Site <i id="search-sort-site-dir"></i></th>
                                        <th id="search-sort-robot_name" data-name="robot_name"  data-direction="forward" onclick="setSearchSort('robot_name')">Robot <i id="search-sort-robot_name-dir"></i></th>
                                        <th id="search-sort-datetime" data-name="datetime" data-direction="forward" onclick="setSearchSort('datetime')">Date <i class="bi bi-caret-down-fill" id="search-sort-datetime-dir"></i></th>
                                        <th id="search-sort-filename" data-name="basename" data-direction="forward" onclick="setSearchSort('filename')">Filename <i id="search-sort-filename-dir"></i></th>
                                        <th id="search-sort-size" data-name="size" data-direction="forward" onclick="setSearchSort('size')">Size <i id="search-sort-size-dir"></i></th>
                                    </tr>
                                </thead>
                                <tbody id="search-body">
                                    <!-- Dynamic rows will be inserted here -->
                                </tbody>
                            </table>

                            <!-- Pagination Controls -->
                            <nav>
                                <ul class="pagination justify-content-center">
                                    <li class="page-item"><button class="page-link" id="search-prev-page"
                                            onclick="searchPrevPage()">Previous</button></li>
                                    <li class="page-item"><span class="page-link" id="search-current-page">1</span></li>
                                    <li class="page-item"><button class="page-link" id="search-next-page"
                                            onclick="searchNextPage()">Next</button></li>
                                </ul>
                            </nav>


                        </div>

                    </div>

                    <div id="server-tab" class="tab-pane fade  show active">
                        <h1>Server : <span id="server_source_name"></span></h1>

                        <div class="accordion accordion-flush" id="server-status-accordion">
                            <div class="accordion-item">

                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#server-status-tqdm-div" aria-expanded="false"
                                        aria-controls="server-status-tqdm-div">
                                        <div id="server-status-tqdm-header">Progress</div>

                                    </button>
                                </h2>
                                <div id="server-status-tqdm-div" class="accordion-collapse collapse"
                                    data-bs-parent="#server-status-accordion">
                                    <div class="accordion-body">
                                        <div class="card" id="server-status-tqdm"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">

                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#server-status-div" aria-expanded="false"
                                        aria-controls="server-status-div">
                                        <div id="server-status-header">Status</div>

                                    </button>
                                </h2>
                                <div id="server-status-div" class="accordion-collapse collapse"
                                    data-bs-parent="#server-status-accordion">
                                    <div class="accordion-body">
                                        <div class="card" id="server-status"></div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div id="server-fs-info-container"></div>

                        <div id="server-data-container">
                            <!-- server data will be dynamically inserted here -->
                        </div>
                    </div>




                    <div id="report-host-tab" class="tab-pane fade">
                        <h1>Report Host</h1>

                        <div id="report-host-container"></div>
                        <div id="task-host-queue" class="list-container"></div>

                        <div class="accordion accordion-flush" id="task-node-status-accordion">
                            <div class="accordion-item">

                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#task-node-status-tqdm-div" aria-expanded="false"
                                        aria-controls="task-node-status-tqdm-div">
                                        <div id="task-node-status-tqdm-header"><b>Progress</b></div>

                                    </button>
                                </h2>
                                <div id="task-node-status-tqdm-div" class="accordion-collapse collapse"
                                    data-bs-parent="#task-node-status-accordion">
                                    <div class="accordion-body">
                                        <div class="card" id="task-node-status-tqdm"></div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <textarea id="report-host-console" rows="10" cols="200"
                            style="font-size: 12px; overflow: scroll;"></textarea>
                    </div>



                    <div id="report-node-tab" class="tab-pane fade">
                        <h1>Report Node</h1>
                        <div id="report-node-container"></div>

                    </div>


                    <div id="config-tab" class="tab-pane fade">

                        <h2>Config</h2>
                        <ul class="nav nav-tabs" id="config-tab-contents" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#config-projects-tab"
                                    type="button" role="tab" aria-controls="config-projects-tab"
                                    aria-selected="true">Projects</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#config-robots-tab"
                                    type="button" role="tab" aria-controls="config-robots-tab"
                                    aria-selected="false">Robots</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#config-sites-tab"
                                    type="button" role="tab" aria-controls="config-sites-tab">Sites</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#config-keys-tab" type="button"
                                    role="tab" aria-controls="config-keys-tab">Keys</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#config-user-tab" type="button"
                                    role="tab" aria-controls="config-user-tab">User Settings</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="config-projects-tab" class="tab-pane fade show active" role="tabpanel"
                                aria-labelledby="config-projects-tab" tabindex="0">

                                <table id="projectTable" border="1">
                                    <thead>
                                        <tr>
                                            <th>Project Name</th>
                                            <th>Volume</th>
                                            <th>Description</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Existing projects will be dynamically inserted here -->
                                    </tbody>
                                    <tfoot>
                                        <!-- Row for adding a new project -->
                                        <tr>
                                            <td><input type="text" id="newProject" placeholder="Project Name"></td>
                                            <td><input type="text" id="newVolume" placeholder="Volume"></td>
                                            <td><input type="text" id="newDescription" placeholder="Description"></td>
                                            <td><button onclick="addProject()">Save</button></td>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                            
                            <div id="config-robots-tab" class="tab-pane fade" role="tabpanel"
                                aria-labelledby="config-robots-tab" tabindex="0">
                                <div class="list-container">
                                    <h3>Robots</h3>
                                    <div class="card" id="robot-list"></div>
                                    <input type="text" id="robot-name-input" placeholder="Add new robot name">
                                    <button id="add-robot-btn">Add Robot</button>
                                </div>
                            </div>

                            <div id="config-sites-tab" class="tab-pane fade" role="tabpanel"
                                aria-labelledby="config-sites-tab" tabindex="0">
                                <div class="list-container">
                                    <h3>Sites</h3>
                                    <div class="card" id="site-list"></div>
                                    <input type="text" id="site-name-input" placeholder="Add new site name">
                                    <button id="add-site-btn">Add Site</button>
                                </div>
                            </div>

                            <div id="config-keys-tab" class="tab-pane fade" role="tabpanel"
                                aria-labelledby="config-keys-tab" tabindex="0">
                                <div class="list-container">
                                    <h3>Keys</h3>
                                    <div class="card card-fit">
                                        <div id="keys-list"></div>
                                        <div>
                                            <button class="btn btn-primary" onclick="downloadKeys()">Download keys.yaml</button>

                                            <form id="uploadKeysForm" enctype="multipart/form-data">
                                                <input type="file" name="file" accept=".yaml">
                                                <button class="btn btn-primary" type="button" onclick="uploadKeys()">Upload keys.yaml</button>
                                            </form>

                                        </div>
                                        <br>
                                        <input type="text" id="keys-name-input" placeholder="Add New Key Name">
                                        <button class="btn btn-primary" id="make-key-btn">Generate Key</button>
                                        <hr>

                                        <input type="text" id="insert-keys-name-input" placeholder="Paste Key Name"><br>
                                        <input type="text" id="insert-keys-value-input" placeholder="Paste API Key">
                                        <button class="btn btn-primary" id="insert-key-btn">Insert Key</button>
                                        <hr>

                                        <div><span id="current-api-key"></span></div>
                                        <input type="text" id="keys-set-api-key-input" placeholder="Set API KEY TOKEN">
                                        <button class="btn btn-primary" id="set-key-btn">Set API Key</button>
                                        <hr>
                                    </div>
                                </div>
                            </div>

                            <div id="config-user-tab" class="tab-pane fade" role="tabpanel"
                                aria-labelledby="config-user-tab" tabindex="0">
                                <div class="user-container">
                                    <H2>User settings</H2>

                                    <table id="localMountTable" border="1">
                                        <thead>
                                            <tr>
                                                <th>Project Name</th>
                                                <th>Local Mount</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Existing projects will be dynamically inserted here -->
                                        </tbody>
                                    </table>
    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="debug-tab" class="tab-pane fade">
                        <h3>Debug -- Not for production</h3>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger" id="clear-data-button">Clear data</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" id="scan-server" onclick="scanServer()">Scan
                                Server</button>
                        </div>

                        <button type="button" class="btn btn-secondary" onclick="fakeNewData()">Fake new Data</button>

                        <div id="server_regen_msg"></div>

                        <div id="session_token">Session token is  <b>{{session.token}}</b> </div>

                        <div class="modal fade" id="clearDataConfirmation" tabindex="-1"
                            aria-labelledby="clearDataConfirmationLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="clearDataConfirmationLabel">Confirmation</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to clear the data on the server?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">No</button>
                                        <button type="button" class="btn btn-primary"
                                            id="clear-data-confirm-button">Yes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script>
                            window.session_token = "{{ session.token }}";
                            console.log(window.session_token)

                            $(document).ready(function () {
                                // Event listener for the action button
                                $('#clear-data-button').on('click', function () {
                                    $('#clearDataConfirmation').modal('show');
                                });

                                // Event listener for the confirm button
                                $('#clear-data-confirm-button').on('click', function () {
                                    debugClearData();
                                    $('#clearDataConfirmation').modal('hide');
                                });
                            });
                            function scanServer() {
                                console.log("Scannnnnnn")
                                socket.emit("scan_server");
                            };

                            function fakeNewData() {
                                socket.emit("fake_new_data", {"session_token": window.session_token});
                            }
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>


    <script type="text/javascript" charset="utf-8">

        const protocol = window.location.protocol === 'https:' ? 'https:' : 'http:';
        const url = protocol + "//" + location.hostname + ':' + location.port;

        var socket = io.connect(url, { transports: ['websocket'], query: `session_token=${window.session_token}` });

    </script>
</body>

</html>